/* @plugin "@tailwindcss/typography"; */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

@import 'highlight.js/styles/github-dark.css';

@custom-variant dark (&:is(.dark *));

/* font Inter */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 , 200 , 300 , 400 , 500 , 600 , 700 , 800 , 900;
  font-style: normal;
}

@theme inline {
  --shadow-acceternity: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),  0px 1px 0px 0px rgba(25, 28, 33, 0.02),
   0px 0px 0px 1px rgba(25, 28, 33, 0.08);
   
  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);
}
.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
}
